@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*----- VARIABLES CSS (for reference) -----*/
:root {
  --first-color: #4E1116;
  --black-color: #000;
  --white-color: #FFF;
}

/*----- BASE -----*/
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #FFF;
  font-weight: 700;
  overflow-x: hidden;
}

h1, h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFF;
}

img {
  max-width: 100%;
  height: auto;
}
